body {
    background-color: #210a16;
}
.jcarousel {  
  position: relative;
  overflow: hidden;
  border: 10px solid black;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}
ul{
    width: 20000em;
    position: relative;
}
li{
      float: left;
      height: 350px;
}
.jcarousel img{
    width: 600px;
    height: 350px;
    
}
.wrap_jcarousel{
  width: 600px;
  margin: 100px auto;
  position: relative;
}
.jcarousel-prev{
    float: left;
    margin-top: 143px;
    margin-right: 20px;
}
.jcarousel-prev{
    height: 70px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    }
.jcarousel-next {
    position: absolute;
    margin-top: -220px;
    margin-left: 620px;
    
}
.jcarousel-next img{
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    }
.page {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    color: white;
}
.jcarousel-pagination {
    margin-left: 265px;
    margin-top: 10px;
}
.inactive {
   box-shadow: none;
}
.active {
    background-color: white;
    border: 2px solid black;
    color: black;
}