.rounded {
    height: 200px;
    width:400px;
    background: red;
    border: 1px solid #000;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    behavior: url(PIE/PIE.htc);
}
.cont{
   
    background-image: url(../img/step_3.jpg);
    height: 400px;
    width: 100%;
    z-index: -1;
}