/*CLEARFIX*/
.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: '';
    display: table; }
  .clearfix:after {
    content: '';
    display: table;
    clear: both; }

.clear__both {
  clear: both; }

header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #026aa7; }

.links {
  float: left;
  height: 30px;
  width: 65px;
  margin-top: 5px;
  margin-left: 5px; }

.links__button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #4a94c0;
  border-radius: 3px; }

.links__button__image {
  display: block;
  width: 16px;
  margin: 0 auto;
  margin-top: 7px; }

.links__button:hover {
  background-color: #61a0c6; }

.logo {
  display: inline-block;
  margin-top: 5px; }

.links--user {
  float: right;
  width: 140px; }

.links__button__image--user {
  width: 30px;
  margin: 0;
  border-radius: 3px; }

body {
  background-color: #0079bf; }

.board {
  width: 100%;
  margin: 0 auto; }

.board__link {
  float: left;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  color: white;
  border-radius: 3px; }

.board__link--title {
  margin-left: 5px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  font-family: "trellicons", sans-serif; }

.board__link:hover {
  background-color: #026aa7;
  cursor: pointer; }

.board__link--like {
  width: 30px;
  margin-left: 5px;
  line-height: 34px; }

.board__link--like:after {
  content: url(../img/star__white.png); }

.board__link--status {
  margin-left: 5px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 30px;
  font-family: "trellicons", sans-serif;
  font-size: 14px; }

.board__link--status:before {
  content: url(../img/lock__white.png);
  margin-right: 8px; }

.board__link--menu {
  float: right;
  margin-right: 5px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 30px;
  font-family: "trellicons", sans-serif;
  font-size: 14px;
  text-decoration: underline; }

.points {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  line-height: 25px;
  font-family: "trellicons", sans-serif;
  text-decoration: none; }

main {
  clear: both;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto; }

.column {
  float: left;
  width: 22.1%;
  margin-top: 10px;
  margin-right: 1%;
  margin-left: 1%;
  background-color: #e2e4e6;
  border-radius: 3px; }

.column__title {
  width: 70%;
  height: 20px;
  margin: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #e2e4e6;
  font-family: "trellicons", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #494949;
  cursor: pointer; }

.column__title:focus {
  background-color: white; }

.column__actions {
  float: right;
  width: 25px;
  height: 25px;
  margin: 5px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer; }

.column__actions:hover {
  background-color: silver; }

.column__card {
  width: 97%;
  height: 30px;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 3px;
  background-color: white; }

.column__card__text {
  float: left;
  height: 30px;
  margin-left: 5px;
  line-height: 30px;
  font-family: "trellicons", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #494949;
  cursor: pointer; }

.column__card__edit {
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 3px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer; }

.column__card__edit:hover {
  background-color: silver; }

.column__card__edit:after {
  content: url(../img/edit2.png);
  line-height: 30px; }

.column__add {
  display: block;
  width: 95.5%;
  height: 30px;
  margin: 5px;
  margin-top: 10px;
  padding-left: 5px;
  font-family: "trellicons", sans-serif;
  font-weight: bold;
  line-height: 30px;
  color: #494949;
  border-radius: 3px;
  cursor: pointer; }

.column__add:hover {
  background-color: silver; }

.list__add {
  float: left;
  width: 21.7%;
  height: 40px;
  margin-top: 10px;
  margin-left: 1%;
  padding-left: 5px;
  line-height: 40px;
  font-family: "trellicons", sans-serif;
  font-weight: bold;
  color: #7fb5d3;
  background-color: #006ba9;
  border-radius: 3px;
  cursor: pointer; }

.list__add:hover {
  background-color: #0067a3; }

@media screen and (max-width: 1119px) {
  main {
    max-width: 1119px; }
  .column {
    width: 31.3%; }
  .list__add {
    width: 31%; } }

@media screen and (max-width: 767px) {
  main {
    max-width: 767px; }
  .column {
    width: 48%; }
  .list__add {
    width: 47%; } }

@media screen and (max-width: 479px) {
  main {
    max-width: 479px; }
  .column {
    float: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px; }
  .list__add {
    float: none;
    display: block;
    width: 89%;
    margin: 10px auto; } }
